html {
    font-family: sans-serif;
    background-color: #f7cac9;
    font-size: 1.5em;
}

div {
    width: 50%;
    padding: 3%;
    margin: 4% 5%;
}

.bold {
    font-weight: bold;
}
