@font-face {
	font-family: Audrey;
	src: url('assets/fonts/Audrey/Audrey-Normal.otf');
	font-display: swap;
}
/* default */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	/* scroll-behavior: smooth; */
}
body {
	position: relative;
	font-family: 'News Cycle', sans-serif;
	letter-spacing: 1px;
	color: #000000;
}
.hidden {
	display: none;
}
canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 30;
}
#top,
#about {
	width: 100%;
	height: 100%;
}
/* landing page */
#top {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	color: #ffffff;
}
#top a {
	position: absolute;
	bottom: 1rem;
	color: #ffffff;
	text-decoration: none;
	z-index: 50;
	opacity: 0;
	transition: opacity 1.5s;
}
#top a p {
	text-align: center;
}
#top img {
	width: 1rem;
}
#name-animation {
	position: relative;
	width: 100%;
	height: 5rem;
	overflow: hidden;
}
#name-animation h1 {
	position: absolute;
	display: inline-block;
	font-family: 'Audrey', sans-serif;
	letter-spacing: 0;
	font-size: 5rem;
	font-weight: 100;
}
#first-init,
#last-name {
	z-index: 20;
}
#first-init {
	right: 50%;
	transition: right 1.5s;
}
#first-name {
	z-index: 10;
	left: 50%;
	padding-right: 2rem;
	transition: left 1.5s;
}
#last-name {
	background-color: #000000;
	width: 50%;
	left: 50%;
	transition: left 1.5s;
}
#last-name span {
	opacity: 0;
	transition: opacity 1.5s;
}
/* logo and navbar */
#logo img {
	height: 4rem;
}
#closed-nav,
#closed-nav a:not(#mobile-nav),
#closed-nav div,
#closed-nav div div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav {
	background-color: #000000;
	transition: background-color 1s;
	z-index: 100;
}
#closed-nav {
	position: relative;
	width: 100%;
	justify-content: center;
	min-height: 4.5rem;
}
#closed-nav div {
	justify-content: center;
	width: 50%;
}
#closed-nav div div {
	justify-content: space-evenly;
}
#closed-nav a:not(#mobile-nav),
#open-nav a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-size: 1rem;
}
#closed-nav a:not(#logo):not(#mobile-nav)::before,
#open-nav a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #ffb6c1;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
#closed-nav a:not(#logo):not(#mobile-nav):hover::before,
#open-nav a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + #about {
	margin-top: 4.5rem;
}
#mobile-nav {
	display: none;
	position: absolute;
	right: 1rem;
}
#mobile-nav img {
	height: 1rem;
}
.filter-black {
	filter: brightness(0) saturate(100%);
}
#open-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 0;
	overflow: hidden;
	transition: height 0.5s;
}
/* about */
#about {
	background-color: #fdf0f2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#description {
	position: relative;
	background-color: #ffffff;
	width: 75%;
	left: 10%;
	border-radius: 5px;
}
#description > div {
	padding: 2.5rem;
	width: 60%;
}
#description div div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#description ul {
	list-style-position: inside;
	margin: 0 1rem;
}
#description p {
	margin: 0.5rem 0;
}
#headshot {
	position: relative;
	right: 10%;
}
#headshot img {
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	box-shadow: rgb(255, 182, 193, 0.75) 0.5rem 0.5rem 0.5rem;
}
/* projects */
#projects {
	background: linear-gradient(#fdf0f2, rgb(255, 182, 193, 0.75));
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
}
.proj-desc {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem;
}
.proj-desc > div {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.proj-img {
	position: relative;
	align-items: center;
}
.proj-img img,
.proj-img div {
	width: 80%;
}
.proj-img div {
	position: absolute;
	z-index: 50;
	height: 100%;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.5s;
}
.proj-img div:hover {
	background-color: rgb(0, 0, 0, 0.25);
}
.desc > p {
	font-style: italic;
}
.desc > div:not(.desc-head) {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.desc > div > div:not(.divider) {
	width: 50%;
	padding: 1rem;
}
.desc ul {
	list-style-position: inside;
}
.desc-head {
	padding: 1rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.sky-blue {
	background-color: #87cefa;
}
.indian-red {
	background-color: #cd5c5c;
}
.silver {
	background-color: #c0c0c0;
}
.divider {
	position: absolute;
	width: 0.5px;
	height: 85%;
	background-color: #a9a9a9;
}
.desc .divider {
	top: 7.5%;
	left: 50%;
}
.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.features a {
	text-decoration: none;
	color: #000000;
}
.features span {
	font-size: 1.25rem;
}
/* contact */
#contact {
	height: 100%;
	background-color: rgb(255, 182, 193, 0.75);
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
#contact > div {
	width: 50%;
	height: 50%;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	box-shadow: #ffb6c1 -0.75rem 0.75rem;
}
#contact > div > div:not(.divider) {
	width: 50%;
	display: flex;
	flex-direction: column;
}
#contact > div > div:first-child,
#contact > div > div:last-child {
	justify-content: center;
}
#contact > div > div:first-child {
	align-items: center;
}
#contact > div > div:first-child a {
	border: solid 1px #000000;
	text-decoration: none;
	color: #000000;
	padding: 0.5rem 2rem;
	margin: 1rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 0.5s;
}
#contact > div > div:first-child a:hover {
	background-color: #404040;
	color: #ffffff;
}
#contact > div > div:last-child a {
	color: #000000;
	text-decoration: none;
	margin: 0.5rem;
	display: flex;
	align-items: center;
}
#contact > a {
	position: absolute;
	bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: #fdf0f2;
	box-shadow: #ffb6c1 -0.25rem 0.25rem;
	border-radius: 5px;
}
#contact > a img {
	width: 40%;
	height: 40%;
}
.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.5rem;
	border-radius: 50%;
	background-color: #404040;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact .divider {
	position: relative;
	top: 7.5%;
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	#name-animation {
		height: 10rem;
	}
	#name-animation h1 {
		font-size: 10rem;
	}
	/* projects */
	.proj-desc {
		flex-direction: column;
		padding: 1rem 2rem;
	}
	.proj-desc > div {
		width: 100%;
		margin: 1rem;
	}
	/* end projects */
	#contact > div {
		width: 70%;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	#name-animation {
		height: 9rem;
	}
	#name-animation h1 {
		font-size: 9rem;
	}
	#about {
		height: auto;
		flex-direction: column;
	}
	#description {
		margin: 0 1rem;
		margin-top: 3rem;
		width: 90%;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#description > div {
		padding: 1rem;
		width: 90%;
	}
	#headshot {
		right: 0;
		margin: 3rem;
	}
	#headshot img {
		width: 70vw;
		height: 70vw;
	}
	#contact > div {
		flex-direction: column;
	}
	#contact .divider {
		width: 85%;
		height: 0.5px;
		top: 0;
		left: 7.5%;
	}
	#contact > div > div:not(.divider) {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: column;
	}
	#contact > div > div:last-child a {
		padding: 0 1rem;
	}
}
@media (max-width: 825px) {
	#contact {
		height: 200%;
	}
	#contact > div {
		height: 75%;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	#name-animation {
		height: 7rem;
	}
	#name-animation h1 {
		font-size: 7rem;
	}
	#logo img {
		height: 3rem;
	}
	#closed-nav div {
		width: 75%;
	}
}
@media (max-width: 550px) {
	#mobile-nav {
		display: block;
	}
	#closed-nav div div {
		display: none;
	}
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#name-animation {
		height: 6rem;
	}
	#name-animation h1 {
		font-size: 6rem;
	}
	#description div div {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	/* projects */
	.desc > div > div:not(.divider) {
		width: 90%;
	}
	.desc > div:not(.desc-head) {
		flex-direction: column;
	}
	.desc .divider {
		display: none;
	}
	.features {
		border-top: 0.5px solid #a9a9a9;
	}
	.proj-img img,
	.proj-img div {
		width: 100%;
	}
	/* end projects */
	#contact {
		height: 100%;
	}
	#contact > div {
		width: 90%;
	}
	#contact > div > div:last-child a {
		font-size: 0.75rem;
	}
}
@media (max-height: 375px) {
	#contact {
		height: 200%;
	}
}
@media (min-height: 850px) {
	#contact {
		height: 100%;
	}
}
@media (min-height: 1000px) {
	#about {
		height: auto;
	}
	#description {
		margin: 5% 0;
	}
	#contact {
		height: 75%;
	}
}
@media (min-height: 1300px) {
	#contact {
		height: 50%;
	}
}
