html {
    text-align: center;
    font-family: sans-serif;
    background-color: #f7cac9;
}

img {
    width: 50%;
    height: 50%;
}


div {
    display: inline;
    border-style: dotted;
    width: 50%;
    padding: 2px 3%;
    color: black;
}

a:hover {
    font-weight: bold;
}

#bio, #resume, a:visited {
    text-decoration: none;
}

#bio {
    padding-right: 5%;
}

#resume {
    padding-left: 5%;
}
