@font-face {
    font-family: Audrey;
    src: url('../fonts/Audrey/Audrey-Normal.otf');
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

#logo {
    height: 10vh;
}

nav {
    height: 14vh;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-link, .nav-link:hover, .nav-link:active, #front a, #front a:hover, #front a:active, #links a, #links a:hover, #links a:active {
    color: white;
}

.custom-toggler {
    top: 3vh;
    right: 3vw;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#links {
    left: 0;
    bottom: 0;
}

#front, #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#front {
    height: 100vh;
}

#front h1 {
    margin: auto;
    font-size: 7vw;
    font-family: 'Audrey', sans-serif;
}

#front a {
    letter-spacing: 1px;
    text-decoration: none;
    bottom: 0;
}

#about {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    min-height: 100vh;
}

#propic img {
    transform: scale(0.5);
    box-shadow: -2px 2px 0 5px black, -7px 7px 0 1px #ffb6c1;
}

#info, #skills {
    margin-bottom: 10vh;
}

#info {
    width: 50vw;
}

#info p {
    text-align: center;
}

canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#skills {
    border: 1px solid #ffb6c1;
    padding: 1%;
}

#skills img {
    height: 48px;
    width: 48px;
}

.pink {
    color: #ffb6c1;
}

@media (max-width: 768px) {
    #info {
        width: 90vw;
    }
}

@media (min-width: 768px) {
    #propic {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
