@font-face {
    font-family: Audrey;
    src: url('../fonts/Audrey/Audrey-Normal.otf');
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

#logo {
    height: 10vh;
}

nav {
    height: 14vh;
}

nav a {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 3px;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-link, .nav-link:hover, .nav-link:active, #front a, #front a:hover, #front a:active, #links a, #links a:hover, #links a:active {
    color: white;
}

.custom-toggler {
    top: 3vh;
    right: 3vw;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#links {
    left: 0;
    bottom: 0;
}

#front, #about, #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#front {
    height: 100vh;
}

#front h1 {
    margin: auto;
    font-size: 7vw;
    font-family: 'Audrey', sans-serif;
}

#front a {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    bottom: 0;
}

#about {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 2px;
    min-height: 100vh;
}
/*
#propic {
    position: relative;
}
*/

#propic img {
    transform: scale(0.5);
    box-shadow: -2px 2px 0 5px black, -7px 7px 0 1px #ffb6c1;
}

#info, #skills {
    margin-bottom: 10vh;
}

#info, #contact > div {
    width: 50vw;
}

#info h2 {
    letter-spacing: 5px;
}

#info p {
    text-align: center;
}

#petals canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#propic canvas {
    position: absolute;
    display: block;
    top: 100vh;
    z-index: 1;
}

#skills, #contact > div {
    border: 1px solid #ffb6c1;
    padding: 1%;
}

#skills img {
    height: 48px;
    width: 48px;
}

.pink {
    color: #ffb6c1;
}

.hidden {
    opacity: 0;
}

#projects {
    height: 100vh;
}

#contact {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 3px;
    min-height: 100vh;
}

#submit {
    display: block;
    margin: 0 auto;
}

.text, .text:focus {
    background: black;
    border: none;
    border-bottom: 1px solid white !important;
    border-radius: 0;
    color: white;
}

#message {
    min-height: 1em;
    height: auto;
}

@media (max-width: 768px) {
    #info, #contact > div {
        width: 90vw;
    }
}

@media (min-width: 768px) {
    #propic {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.btn-sample {
  color: #FFB6C1;
  background-color: #000000;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #FFFFFF;
  background-color: #FFB6C1;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #000000;
}

.btn-sample .badge {
  color: #000000;
  background-color: #FFB6C1;
}

*:active, *:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
